<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Atualizar link</title>
<style>
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
</style> 
</head>
<body>

	<h1 style="text-align:center; color: #3E4B5E; font-family: 'Open Sans Condensed', sans-serif;">
		Atualizar link
	</h1>
		<form  class="study_links" style="text-align:center" action="/update" method="POST">
		<% for(var i = 0; i < study_links.length; i++) { %>
		<input type="text" placeholder="Título" name="title" value="<%= study_links[i].title %>" required><br><br>
		<input type="text" placeholder="Link" name="link" value="<%= study_links[i].link %>" required><br><br>
		<input type="number" placeholder="Categoria" name="category" value="<%= study_links[i].category %>" required><br><br>
		<button type="submit">Atualizar</button>
	    <% } %>
	    </form>
	<p style="text-align:center">
	<a href="http://localhost:3000/list"><button>Cancelar</button></a></p>

</body>
</html>